@using AppMVC.Models
@model List<JeuViewModel>

    <div class="container">
        <div class="text">
            <h3>Liste des jeux:</h3>
        </div>

        <button type="button" class="btn btn-primary" onclick="showAddJeu()">Ajouter un jeu</button>


        <div class="d-flex justify-content-around flex-wrap">
            @foreach (var jeu in Model)
            {
                <div class="card m-5 shadow-sm w-25" style="cursor: pointer" onclick="showDetailJeu(@jeu.Id)">
                    <div class="card-body">
                        <h5 class="card-title">@jeu.Nom</h5>
                        <p class="card-text">@jeu.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex justify-content-between">
                            <div>
                                @jeu.Datedesortie
                            </div>
                            <button type="button" class="btn btn-primary" onclick="showEditJeu(event, @jeu.Id)">Edit</button>
                        </div>
                    </div>
                </div>
                
            }
        </div>

        <!-- Ajout jeu Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" data-url='@Url.Action("AddJeu")'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Ajouter Jeu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="bodyAddJeu">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modifier jeu Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" data-url='@Url.Action("EditJeu")'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel">Modifier un Jeu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="bodyEditJeu">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function showDetailJeu(idJeu) {
                let url = "@Url.Action("DetailJeu")";
                url = url + '/' + idJeu;
                window.location = url
            }

            function showAddJeu() {
                let url = $('#addModal').data('url');
                $.get(url, function (data) {
                    $('#bodyAddJeu').html(data);

                    $('#addModal').modal('show');
                });
            }

            function showEditJeu(event, idJeu) {
                let url = $('#editModal').data('url');
                url = url + '/' + idJeu;
                $.get(url, function (data) {
                    $('#bodyEditJeu').html(data);

                    $('#editModal').modal('show');
                });


                event.stopPropagation();
            }
        </script>
    </div>

